 body   {background-color: silver;font-family: Verdana; font-size: 100%; }
 div    {border: none; border-radius: 4px; margin: 2px; padding: 4px;cursor: pointer;}  
  h3    {font-size: 100%; margin-top: 0em; margin-bottom: 0em;font-weight: 150%; color: #003399;}
  h4    {font-size: 25px}

#content {background-color:#99bbee;
         font-family:Verdana;
         position:absolute;top:10%;left:10%;
         height:500px;width:800px;
         border: none;border-radius: 4px; box-shadow: 4px 4px 4px #333;}
#copy   {position:absolute; top:455;left 10; font-family:Verdana;font-size:small;}  
.control{height: 40px; width: 60px; 
         background-color:yellow; color: #000;
         margin: 2px; padding: 4px;
         border: none;border-radius: 4px; box-shadow: 2px 2px 2px #333;
         font-size: 14px; font-weight: bold;
         }

    
#panel0 {position:absolute; top:100; left:50; width:600;height:220;
         background-color:silver;        
         border: none; border-radius: 4px; box-shadow: 2px 2px 2px #333;
         font-size:75%;}
.idcon  {height:25:px; width:75px;
         position:relative; top:0; left:365px; height:25px;width:75px;
         background-color:yellow;color:black;  
         font-family:"Verdana";font-size:12px; font-weight: 1000;
         border: none;border-radius: 4px; padding:2px;   border: none;border-radius: 4px; padding:2px;}
.char  {background-color:orange;color:black; height:20px;width:20px;
        border: none;border-radius: 4px; padding:2px;  
        font-family:"Verdana";font-size:12px; font-weight: bold;}


#iddata {height:100px;width:550px; position:relative;top:10px;
         background-color:#99bbee; padding:4px;
         border: none;border-radius: 4px; box-shadow: 2px 2px 2px #333;
         font-family:Verdana;font-size:12px;font-weight:500%;}
#idcode {background-color:yellow;color:black;
         position:absolute; top:5;left:10px;width:150; height:22px;
         font-family:"Verdana";font-size:12px; font-weight: 1000;
         border:none;border-radius: 4px; padding:2px; }

#panel1 {background-color:white; position:absolute; top:65px; left:50px; height:320; width:600;
         font-family:Arial; 
         border: none;border-radius: 4px;box-shadow: 2px 2px 2px #333; display:none;}
 a span {display:none;font-family:Arial;font-size:24px;text-align:center;
         color:#fff;background:#003399;padding:10px; border-radius:8px; 
         position:absolute;width:100px;z-index:20;}
 a       {display: inline-block;}
 a:hover span{display:block;} 
 a span:hover:after{background:#FFFFFF;border-radius:5px;bottom:-5px;color:#fff;left:5%;
         position:absolute; z-index:98; width:1px;}


#panel2 {background-color:white; position:absolute; top:65px; left:50px; height:320; width:600;
         border: none;border-radius: 4px;box-shadow: 2px 2px 2px #333; display:none;}
         font-size:120%; font-weight: 200%;} 
.item   {height:50px;width:50px; background-color:white; border:none;}



#panel3 {background-color:pink; position:absolute; top:10; left:850;height:300;width:100;
         border: none;border-radius: 4px;box-shadow: 2px 2px 2px #333;
         font-family:Verdana; font-size:50%;display:none;} 
#submit {position:absolute; top:275px;left:18px;display:none;}


#instr  {position:absolute; top:405px; left:50px; margin: 2px; background-color: silver; width:800px
         border:2;box-shadow: 2px 2px 2px #333;
         font-family:Verdana;font-size:75%;}

#dline {position:fixed; top:600;left;200;
        background-color:pink; color:#000000;height:25;top:650; 
        font-size:80%; font-weight:300%;}
#data   {position:fixed; top:500; left:200; height:20; width:600;
         background-color:pink;color:#000000;font-size:75%; display:none;}

#alphas {height:55px;width:465px; position:absolute;top:135px;
         background-color:silver; padding:4px;
         border: none;border-radius: 4px; box-shadow: 2px 2px 2px #333;
         font-family:Verdana;font-size:12px;font-weight:bold;}

button {height: 80px; width: 55px; 
         background-color:white; color: fff;
         border: none;border-radius: 4px; 
         }

